<div class="row-fluid">
	<div class="span4">
		<%= image_tag('share.png') %>
		<h4 class="bottom-header">SHARE YOUR LIFE</h4>
		<p class="descript">Use our mobile or web app to share photos, updates, and personalized messages. We connect with your existing apps (Instagram, Facebook, and more) so it's easy to share.</p>
	</div>
	<div class="span4">
		<%= image_tag('whole-family.png') %>
		<h4 class="bottom-header">FOR THE WHOLE FAMILY</h4>
		<p class="descript">Invite everyone in your family to participate. We'll take everyone's updates and create a fun, easy-to-read postcard.</p>
	</div>
	<div class="span4">
		<%= image_tag('mailbox.png') %>
		<h4 class="bottom-header">IN THE MAILBOX</h4>
		<p class="descript">Every two weeks we'll mail the postcard to your loved one's door. You share your way, your elderly loved ones can read it their way.</p>
	</div>
</div>