<div class="row-fluid">
	<div class="span4">
		<%= image_tag('Share-Your-Life.png') %>
		<h4 class="bottom-header">SHARE YOUR LIFE</h4>
		<p class="descript">Use our mobile or web app to share photos, life updates, and personal messages. We connect with your existing apps (Instagram, Facebook, and more) so it’s always easy.</p>
</div>
	<div class="span4">
		<%= image_tag('For-Whole-Family.png') %>
		<h4 class="bottom-header">FOR THE WHOLE FAMILY</h4>
		<p class="descript">Invite family and friends to contribute! We’ll compile everyone's updates to create a personal, fun, and easy-to-read FamGram.</p>
	</div>
	<div class="span4">
		<%= image_tag('In-the-Mailbox.png') %>
		<h4 class="bottom-header">IN THE MAILBOX</h4>
		<p class="descript">Every two weeks, we’ll mail a new FamGram to your loved one’s door. We make it easy to put your online world into elderly family members’ hands!</p>
	</div>
</div>