<div class="confirm-card">
  <div class="stripe"><%= image_tag('stripebackground.png') %></div>
  <div class="white"><%= image_tag('whitebackground.png') %></div>
  <div class="pop-text">
    <h2>Thanks for signing up with FamGram!</h2>
    <p>We are just getting started and we'll let you know as soon as we're ready to start sending FamGrams. If you have any questions, feel free to email us at hello@famgram.com</p>
    <h3>Share with family and friends!</h3>
  </div>
</div>