<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="hero-unit">
				<div class="caption">
				<h2>FamGram</h2>
				<p class="lead">
					Share your family's photos, messages, and updates with your loved ones on a fun, easy-to-read postcard
				</p>
				</div>
				<div class="form">
					<%= render 'form' %>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container explain">
	<div class="row">
		<div class="span4">
			<h2>Share Your Life</h2>
			<p>Use our mobile or web app to share photos, updates, and personalized messages. We connect with your existing apps (Instagram, Facebook, and more) so it's easy to share.</p>
		</div>
		<div class="span4">
			<h2>For the Whole Family</h2>
			<p>Invite everyone in your family to participate. We'll take everyone's updates and create a fun, easy-to-read postcard.</p>
		</div>
		<div class="span4">
			<h2>In the Mailbox</h2>
			<p>Every two weeks we'll mail the postcard to your loved one's door. You share your way, your elderly loved ones can read it their way.</p>
		</div>
	</div>
</div>