<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="hero-unit">
				<div class="caption">
					<h2>FamGram</h2>
					<p class="lead">
					Share your family's photos, messages, and updates with your loved ones on a fun, easy-to-read postcard
					</p>
				</div>
				<div class="form">
					<%= render 'form' %>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container explain">
	<%= render 'explain' %>
</div>