$baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen);

@import "bootstrap";
@import "bootstrap-responsive";

/* Navbar */

#logo {
	padding:5px;
	margin-left:10px;
}

#phone {
	padding:5px;
	margin-right:10px;
}

#generations {
	margin-left:10px;
	margin-top:5px;
	font-size:120%;
}

.pull-right {
	margin-right:20px;
	li {
		padding:6px;
	}
}

/* Home page */

body {
	margin-top:45px;
}

.caption {
	max-width:400px;
}

.hero-unit {
	margin-top:15px;
}


/* Sign Up Form */

.form {
	float:right;
	position:relative;
	margin-top:-200px;
	padding:20px;
}

#mc_embed_signup {
	width:200px;
}