$baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen);

@import "bootstrap";
@import "bootstrap-responsive";

/* Navbar */

#header {
  background-color: #ce0815;
  background-image: none;
  background-repeat: no-repeat;
  filter:none;
  color: white;
}

#logo {
	padding:5px;
	margin-left:10px;
}

#phone {
	padding:5px;
	margin-right:10px;
}

#generations {
	margin-left:10px;
	margin-top:5px;
	font-size:120%;
}

.pull-right {
	margin-right:20px;
	li {
		padding:6px;
	}
}

.share-this {
	width:200px;
}

.st_sharethis_custom {
  padding:0px 16px 10px 0;
  cursor: pointer;
}

/* Home page */

body {
	margin-top:45px;
}

.jumbotron {
    margin: 80px 0;
}

.columnB {
  padding-top:50px;
}

body {
  background-color: #ececee;
}

/* Bottom Half of Page */

.bottom-header {
  color: #09458d;
}

.span4 {
  text-align:center;
  width:300px;
  padding:35px;
}

.bottom-half {
  background-color:#fcfcfc;
  margin-top:-400px;
  height:350px;
  width:100%;
  border-top: 2px solid #d6d8d7;
  border-bottom-left-radius: 30% 20%;
  border-bottom-right-radius: 30% 20%;
  z-index: 5;
  border-bottom: 2px solid #b7af98;
}

.explain {
  padding-bottom: 100px;
}

/* Navbar Footer */

#footer {
  background-color: #e1dabd;
  background-image: none;
  background-repeat: no-repeat;
  filter:none;
  color: #8e8178;
}

.navbar-fixed-bottom {
  background-color: #e1dabd;
  z-index: -1;
  height: 115px;
}

.email-us {
  padding-top:70px;
}
