<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=undefined"></script>
<div class="navbar">
  <div class="navbar-inner" id="footer">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="nav-collapse container">
        <ul class="nav share-bottom">
          <li><%= image_tag('beige-f-logo.png') %></li>
        </ul>
        <div class="row">
          <ul class="nav pull-right email-us">
            <li><h2>Email Us: <%= mail_to "hello@famgram.co"%></h2></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
