<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
					<div class="container-fluid">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div id="logo"><%= link_to "FamGram", root_path, :class => "brand" %></div>
				<div class="nav-collapse container-fluid">
					<ul class="nav">
						<div id="generations"><li>Connecting Generations</li></div>
					</ul>
					<ul class="nav pull-right">
						<li>Share This</li>
						<span class='st_email_large' displayText='Email'></span>
						<span class='st_facebook_large' displayText='Facebook'></span>
						<span class='st_twitter_large' displayText='Tweet'></span>
					</ul>
				</div>
				</div>
			</div>
		</div>
	</div>

