<script type="text/javascript">
    var addthis_share = addthis_share || {}
    addthis_share = {
        passthrough : {
            twitter: {
                text: "Put your online world into #elderly family members' hands with FamGram!"
            }
        }
    }
</script>
<div class="navbar navbar-fixed-top">
			<div class="navbar-inner" id="header">
					<div class="container-fluid">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div id="logo"><%= link_to image_tag('famlogo.png'), root_path, :class => "brand" %></div>
				<div class="nav-collapse container-fluid">
					<ul class="nav">
						<li id="generations">Connecting Generations</li>
					</ul>
					<div class="row-fluid">
                      <div class="addthis_toolbox addthis_default_style addthis_32x32_style pull-right add-top">
                        <a class="addthis_button_email"><%= image_tag('email.png') %></a>
                        <a class="addthis_button_facebook"><%= image_tag('facebook.png') %></a>
                        <a class="addthis_button_twitter"><%= image_tag('twitter.png') %></a>
                      </div>
						</div>
				</div>
				</div>
			</div>
		</div>

