<div class="navbar-wrapper">
	<div class="container">
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<ul class="nav">
						<li>Connecting Generations</li>
					</ul>
				</button>
				<div id="logo"><%= link_to "FamGram", root_path, :class => "brand" %></div>
				<div class="nav-collapse collapse">
					<ul class="nav pull-right">
						<div id="phone"><li>1-800-FAM-GRAM</li></div>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
